<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<link rel="stylesheet" type="text/css" href="style/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
<script src="https://www.google.com/jsapi?key=AIzaSyAagP8OMcTFjv1Fiz08bfMmL0SirqzMx7E" type="text/javascript"></script>

<body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
         <li><a href="/logout">Logout!</a></li>
        </ul>
      </div>
    </nav>


 <div class="container">
      <h1>Confirm an Order</h1>

<div id="b"></div>
this is working<br>
{{#orders}}
Contact Name: {{contact_name}}<br>
Phone: {{phone}}<br>
Due date: {{due_date}}<br>
Shipping:  {{ship}}<br>
Address: {{address}}<br>
Shirt Style{{style}}<br>
Shirt Name: {{shirt_name}}<br>
Front Color: {{front_color}}<br>
Back Color: {{back_color}}<br>
Sleeve Color: {{sleeve_color}}<br>
Apparel Color: {{app_color}}<br>
Quantity: {{quantity}}<br>
Small: {{sm}}<br>
Med: {{md}}<br>
Large: {{lg}}<br>
XL: {{xl}}<br>
2XL: {{twoxl}}<br>
Img Url: {{img_url}}<br>
<p class="total"> Total:</p>


<form action='/post/{{id}}?_method=PUT' method='post'>
<!--   update style
 --><!--   <input type="text" name="style"><br>
 -->  <!-- <select name="houses">
   {{#orders}}
    <option value="{{ style }}">{{ style }}</option>
      <button type="submit"> submit</button>
    {{/orders}}
   </select> -->

   <input type="text" name="style" value="style">
   <button type="submit"> submit</button>
</form>

<form action='/post/{{id}}?_method=DELETE' method='post'>

   <input type="text" name="style" value="style">
   <button type="submit"> Delete</button>
</form>

{{/orders}}
</div>
 <script src="script/jquery.js"></script>
  <script type="text/javascript" src="script/materialize.js"></script>
    <script src="script/script.js"></script>
</body>
</html>



