body {
  text-align: center;
  font-color: #7C2A30;
  background-color: #F5F5F5 ;
  background-size: cover;
}
#bg{

  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background background-attachment: fixed;
  left: 0%;
  z-index: -1;
}
.button{
  background-color:#f44336;
  color:#f44336 ;
}
h4{
  font-family: "Seven Monkey Fury";
}
h6{
  font-family: "Seven Monkey Fury";
  text-align: center;
  font-weight: 800;
}

#hide {
  display: none;
}
#hide2 {
  display: none;
}

#hide3 {
  display: none;
}
#please{
  width: 100%;
}

.nav-wrapper {
  background-color: #ef5350;
}
.logo{
  display: none;
  width: 50%;
  height: auto;
}
#container{
  display: none;
}

#left{
  position: absolute;
  left: -5%;
  width: 30%;
}
#moveleft{
  margin-left: -220px;
}
.movedown{
  margin-top: 23px;
}
.location{
  width: 5%;
}
#getaddress{
  position: absolute;
  margin-left: -220px;
  top: -15px;

  width: 180%;
}
#form{
  border-radius: 2%
}
@font-face {
  font-family: "Seven Monkey Fury";
  src: url(/style/SEVEMFBR.TTF);
  font-weight: bold;
}
.stock{
  display: none;
}
.shirt{
  display: none;
}
.graphic{
  display: none;
}
.instructions{
  display: none;
}
