body {
  font-family: Ablefont, Irish Grover;
  text-align: center;
  font-color: #7C2A30;
  background-color: #F5F5F5 ;

  background-size: cover;
}
#bg{

  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background background-attachment: fixed;
  left: 0%;
  z-index: -1;
}
.button{
  background-color:#f44336;
  color:#f44336 ;
}

#hide {
  display: none;
}
#hide2 {
  display: none;
}

#hide3 {
  display: none;
}
#please{
  width: 100%;
}

.nav-wrapper {
  background-color: #ef5350;
}
.logo{
  width: 50%;
  height: auto;
}
#left{
  position: absolute;
  left: -5%;
  width: 30%;
}
#moveleft{
  margin-left: -220px;
}
.location{
  width: 5%;
}
#getaddress{
  margin-left: -300px;
  margin-bottom: -21px;
}
