body {
  font-family: Ablefont, Irish Grover;
  text-align: center;
  font-color: #7C2A30;
  background-color: #F5F5F5 ;
}
#bg{

  opacity: .09;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background background-attachment: fixed;
  margin-top: -2500px;
  left: 0%;
  z-index: -1;
}

.dueDateLeft{
  margin-left: 40px !important;
}
#hide {
  display: none;
}
#hide2 {
  display: none;
}

#hide3 {
  display: none;
}
#please{
  width: 100%;
}

