<!doctype html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <link rel="stylesheet" href="yourpath/magic.css">
  <script src="https://www.google.com/jsapi?key=AIzaSyAagP8OMcTFjv1Fiz08bfMmL0SirqzMx7E" type="text/javascript"></script>
</head>

  <body background="images/dante.jpg">

<nav>
    <div class="nav-wrapper z-depth-4">
      <a href="#" id="left"><img id="logo" src="images/logo.png" class="logo" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><h6 class="movedown">Home</h6></a></li>
        <li><a href="/update/1"><h6 class="movedown">Update</h6></a></li>
        <li><a href="/logout"><h6 class="movedown">Logout</h6></a></li>
      </ul>
    </div>
  </nav>
<br>
<br>
<br>
 <div class="container"  onload="client.file()">
    <div id="form" class="z-depth-5 #ffffff white">
      <h4 id="form" class="card-panel #ef5350 red lighten-1 white-text">Thanks for Ordering!!</h4>

      <br>
<br>
<br>
   <img id="b" src="" alt="">
<br>
<br>
<br>
   <div id="a"><p></p></div>-Ron Swanson
<br>
<br>
<br>
<br>

<br>
<br>
<br>
  </div>
</div>
  <script src="script/jquery.js"></script>
  <script type="text/javascript" src="script/materialize.js"></script>
  <script src="script/script.js"></script>



  </body>
</html>

</body>
</html>
